@component box-title{
    color: #3598db;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.1rem;

}

@component btn-input-attach{
    width: 1.1rem;
    height: 2.2rem;
    margin-right: 1.5rem;
    background-image: url(../img/icon/attach-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

}

@component btn-input{
    width: 4rem;
    height: 4rem;
    background-color: #3598db;
    box-shadow: 0 3px 15px rgba(53, 152, 219, 0.3);
    background-image: url(../img/icon/submit-arrow.png);
    background-repeat: no-repeat;
    background-position: 11px center;
    border-radius: 50%;
    cursor: pointer;
}


@component btn{
    padding: 1rem 3.2rem;
    background-color: #d6e3ec;
    border-radius: 3px;
    text-transform: uppercase;
    color: #8ea1b4;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    cursor: pointer;
}


@component action-btn{
    display: block;
    padding: 0 0.5rem;
    margin-left: 1.5rem;
    @descendent icon{
        width: 20px;
        height: 20px;
        display: block;
        background-image: url(../img/icon/call.png);
        background-repeat: no-repeat;
        background-position: center;
        @modifier phone{
            background-image: url(../img/icon/call.png);
        }

        @modifier video-call{
            background-image: url(../img/icon/videocall.png);
        }
        @modifier other{
            background-image: url(../img/icon/dot3.png);
        }


    }
}

