*:after,
*:before {
    box-sizing:border-box;
}

ul{
    padding: 0;
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,h2,h3{
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

p{
    margin: 0;
    padding: 0;
}

a:focus {
    outline:0;
}

a:hover,
a:active {
    outline:0;
}

input:focus {
    outline:0;
}

button {
    background: none;
    border: 0;
    color: inherit;
    padding: 0;
}

button:focus {
    outline: none;
}

body{
    margin: 0;
}

.clearfix:before,
.clearfix:after {
    content: '\0020';
    clear: both;
    display: table;
}

html{
    font-size: 10px;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #f5f6f8;
}

.page-block {}

.page-block__dialog-block {
    max-width: 87.5rem;
    margin: 0 auto;
}

.dialog-block {
    display:flex;
    justify-content:space-between;
    width:100%;
}

.dialog-block__chat-list-box {
    width: 100%;
    max-width: 27.6rem;
}

.dialog-block__chat {
    width: 64%;
    max-width: 55.5rem;
    margin: 0 1.5rem;
}

/*----------------------CHAT LIST----------------------*/

.chat-list-box {
    background-color:white;
    border-radius:3px;
    box-shadow:0 0 25px rgba(53, 152, 219, 0.1);
}

.chat-list-box__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.7rem;
    padding: 1.2rem 0;
    border-bottom: 1px solid #edf0f2;
}

.chat-list-box__content {
    padding-bottom: 4rem;
}

.chat-list {}

.chat-list__item {
    width: 100%;
    padding:1.5rem;
    box-sizing: border-box;
}

.chat-list__item_active {
    margin-left: 1px;
    background-color: #f5f6f8;
}

.chat-list__user {
    line-height: 1;
    padding-top: 0.5rem;
}

.chat-list__user-photo {
    position: relative;
    float: left;
    margin-right: 1.1rem;
}

.chat-list__user-message {
    display: flex;
    justify-content: space-between;
    line-height: 1;
    padding-top: 0.5rem;
}

.chat-list__link {
    display: block;
    height: 100%;
}

.chat-list__user-msg-num {
    position: absolute;
    top: -0.6rem;
    right: -0.4rem;
    padding: 0.4rem 0.7rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    border-radius: 1rem;
    background-color: #3198db;
    box-shadow: 0 .2rem 1rem rgba(49, 152, 219, 0.5);
    line-height: 1;
}

.chat {
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
}

.chat__message-log {
    flex-grow: 2;
}

.chat__header {
    padding: 1.7rem 0 1.9rem 0;
    border-bottom: 1px solid #edf0f2;
}

.message-log {}

.message-log__item {
    margin-top: 1.5rem;
}

.chat-header {
    width:100%;
    display:flex;
    justify-content:space-between;
}

/*------------------message--------------*/

.message {
    display:flex;
    align-items:top;
    justify-content:flex-end;
    color:#8ea1b4;
    font-size:1.2rem;
    font-weight:400;
}

.message__user-photo {
    flex-shrink: 0;
    margin-left: 2.3rem;
}

.message__content {
    position: relative;
    max-width: 60%;
    padding: 1.1rem 1.5rem 1.1rem 1.5rem;
    border-radius: 2rem;
    background-color: #3598db;
}

.message__content:after{
    content: '';
    display: block;
    position: absolute;
    right: -7px;
    top: 12px;
    width: 1.5rem;
    height: 1.4rem;
    background-image: url(../img/icon/triangle.png);
    z-index: -1;
}

.message__unit {
    color: #fefefe;
    font-size: 1.2rem;
}

.message_interlocutor {
    justify-content: flex-start;
}

.message_interlocutor .message__user-photo{
    margin-right: 2.9rem;
    margin-left: 0;
}

.message_interlocutor .message__content{
    order: 1;
    background-color: white;
}

.message_interlocutor .message__content:after{
    content: '';
    display: block;
    position: absolute;
    left: -7px;
    top: 12px;
    width: 1.5rem;
    height: 1.4rem;
    background-image: url(../img/icon/triangle1.png);
}

.message_interlocutor .message__unit{
    color: #8ea1b4;
}

.action-box {
    display:table;
    table-layout:auto;
}

.action-box__item {
    display: table-cell;
}

/*------------------message input--------------*/

.message-input {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1rem 1.1rem 1rem 2rem;
    background-color:#fff;
    border-radius:5px;
    box-shadow:0 0 25px rgba(53, 152, 219, 0.05);
}

.message-input__input-field {
    flex-grow: 2;
    padding-right: 1rem;
    border: none;
    color: #8ea1b4;
    font-size: 1.2rem;
}

.message-input__btn-block {
    display: flex;
    align-items: center;
}

/*------------------USER--------------*/

.user {
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
}

.user__name {
    margin-right: 1.2rem;
    color: #8ea1b4;
    font-size: 1.6rem;
    font-weight: 700;
}

.user__name_chat {
    font-size: 1.7rem;
    color: #16315c;
}

.user__name_have-msg {
    color: #34495e;
}

.user__status {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-bottom: .5rem;
    border-radius: 50%;
    background-color: #d4e1ea;
    box-shadow: 0 1px 5px #c9d6df;
}

.user__status_chat-list {
    width: 0.8rem;
    height: 0.8rem;
}

.user__status_online {
    background-color: #51dacf;
    box-shadow: 0 2px 4px #51dacf;
}

.box-title {
    color:#3598db;
    font-size:1.6rem;
    font-weight:700;
    text-transform:capitalize;
    letter-spacing:0.1rem;
}

.btn-input-attach {
    width:1.1rem;
    height:2.2rem;
    margin-right:1.5rem;
    background-image:url(../img/icon/attach-icon.png);
    background-repeat:no-repeat;
    background-position:center;
    cursor:pointer;
}

.btn-input {
    width:4rem;
    height:4rem;
    background-color:#3598db;
    box-shadow:0 3px 15px rgba(53, 152, 219, 0.3);
    background-image:url(../img/icon/submit-arrow.png);
    background-repeat:no-repeat;
    background-position:11px center;
    border-radius:50%;
    cursor:pointer;
}

.btn {
    padding:1rem 3.2rem;
    background-color:#d6e3ec;
    border-radius:3px;
    text-transform:uppercase;
    color:#8ea1b4;
    font-size:1.4rem;
    font-weight:700;
    line-height:1;
    cursor:pointer;
}

.action-btn {
    display:block;
    padding:0 0.5rem;
    margin-left:1.5rem;
}

.action-btn__icon {
    width: 20px;
    height: 20px;
    display: block;
    background-image: url(../img/icon/call.png);
    background-repeat: no-repeat;
    background-position: center;
}

.action-btn__icon_phone {
    background-image: url(../img/icon/call.png);
}

.action-btn__icon_video-call {
    background-image: url(../img/icon/videocall.png);
}

.action-btn__icon_other {
    background-image: url(../img/icon/dot3.png);
}




